@use '@/assets/styles/extends/_typography';
@use "@/assets/styles/_variables" as *;

.popup {
  padding: 16px 32px 32px;
  width: 85%;
  border-radius: 32px;

  p:first-of-type {
    @extend %normal;
    color: $white;
  }
  @media ( min-width: $screen-sm-min) {
    width: 760px;
  }
  @media (min-width: $screen-xl-min) {
    width: 50vw;
    padding: .5vw 1.17vw 1.17vw;
    border-radius: 2.22vw;
  }
}