@forward 'element-plus/theme-chalk/src/common/var' with (
  $input: (
    'text-color': #FFFFFF,
    'border-color': transparent,
    'placeholder-color': #FFFFFFB2,
    'hover-border-color': transparent,
    'focus-border-color':c,
    'focus-border': 2px,
  ),
  $input-number-width: (
    'default': 100%
  ),
  $collapse: (
    'header-height': min-content,
    'header-bg-color': transparent,
    'header-text-color': #FFFFFF,
    'header-font-size': auto,
    'content-bg-color': transparent,
    'content-font-size': auto,
  ),
);
@use 'element-plus/theme-chalk/src/mixins/function' as *;
@use 'element-plus/theme-chalk/src/input';
@use 'element-plus/theme-chalk/src/base'; // for transition
@use 'element-plus/theme-chalk/src/slider';
@use 'element-plus/theme-chalk/src/popper';
@use 'element-plus/theme-chalk/src/form-item';
@use 'element-plus/theme-chalk/src/input-number';
@use 'element-plus/theme-chalk/src/collapse';
@use 'element-plus/theme-chalk/src/checkbox';
@use 'element-plus/theme-chalk/src/loading';

@use '@/assets/styles/_variables' as *;
@use '@/assets/styles/extends';

.el-form-item__label {
  display: block;
  margin-bottom: 10px;
  @media(min-width: $screen-xxl-min) {
    margin-bottom: 0.52vw;
  }
}

.el-input {
  --el-component-size: 52px;
  --el-font-size-base: 20px;
  --el-input-focus-border-color: #6d859c;

  &__wrapper {
    --el-input-bg-color: #26526F8C;
    --el-input-border-radius: 15px;
    padding: 11px 15px;
    &[type=total] {
      cursor: default !important;
    }
  }
  &__inner {
    --el-input-inner-height: 30px;

    &[type=number] {
      text-align: left;
    }
  }
  @media(min-width: $screen-xxl-min) {
    --el-component-size: 2.71vw;
    --el-font-size-base: 1.26vw;
    &__wrapper {
      padding: 0.58vw 0.78vw;
      --el-input-border-radius: 0.78vw;
    }
    &__inner {
      --el-input-inner-height: 1.56vw;
    }
  }
}

.el-slider {
  width: 97.5%;
  margin: 0 auto;
  &__runway {
    --el-slider-height: 4px;
    --el-slider-runway-bg-color: #0A5B9399;
    --el-slider-border-radius: 4px;
  }
  &__button {
    border: none;
    --el-color-white: #5BA2D3;
    &-wrapper {
      --el-slider-button-wrapper-size: 34px;
    }
  }
  &__marks {
    &-text {
      &:first-of-type {
        left: 1.5% !important;
      }
      &:last-of-type {
        left: 95.5% !important;
      }
    }
  }
  &__stop {
    --el-slider-stop-bg-color: transparent
  }
  @media (min-width: $screen-xxl-min) {
    &__runway {
      --el-slider-height: 0.21vw;
      --el-slider-border-radius: 0.21vw;
    }
    &__button {
      --el-slider-button-size: 1.27vw;
      &-wrapper {
        --el-slider-button-wrapper-size: 1.77vw;
      }
    }
  }
}

.el-checkbox {
  white-space: unset;
  &__input {
    --el-checkbox-input-height: 27px;
    --el-checkbox-input-width: 27px;
    --el-checkbox-checked-bg-color: white;
    --el-checkbox-checked-icon-color: black;
    --el-checkbox-checked-input-border-color: #5d7399;
  }
  &__inner {
    --el-checkbox-border-radius: 3px;
    &:after {
      width: 10px;
      height: 15px;
      left: calc(50% - 6px);
      border-width: 2px;
    }
  }
  &__label {
    --el-checkbox-font-size: 12px;
    font-family: Inter, sans-serif;
    line-height: 1.25em;
    color: #bcbcbc7e;
    --el-checkbox-checked-text-color: #b4bbc9;
  }
  @media (min-width: $screen-xxl-min) {
    &__input {
      --el-checkbox-input-height: 1.4vw;
      --el-checkbox-input-width: 1.4vw;
    }
    &__inner {
      --el-checkbox-border-radius: 0.27vw;
      &:after {
        width: 0.52vw;
        height: 0.78vw;
        left: calc(50% - 0.30vw);
        border-width: 0.1vw;
      }
    }
    &__label {
      padding-left: 0.51vw;
      --el-checkbox-font-size: 0.84vw;
    }
  }
}

.el-collapse {
  --el-collapse-border-color: transparent;
  
  &-item {
    background-color: #26526FBF;
    border-radius: 15px;
    &__header {
      padding: 15px 20px;
      border-radius: 15px;
    }
    &__wrap {
      padding: 0 20px;
      --el-collapse-content-text-color: #FFFFFFB2;
      border-radius: 15px;
    }
    @media (min-width: $screen-xxl-min) {
      border-radius: 0.78vw;
      &__header {
        border-radius: 0.78vw;
        padding: 0.78vw 1.041vw;
        --el-collapse-header-font-size: 1.4vw;
      }
      &__wrap {
        padding: 0 1.041vw;
        border-radius: 0.78vw;
      }
    }
  }
}