@use 'element/index.scss';
@import "variables.scss";

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-position: inside;
}
ul {
  list-style: none;
}

html,
body {
    @extend %normal;
    font-family: "Inter", serif;
    font-size: 20px;
    line-height: 1.2em;
    font-weight: 400;
    color: white;
    background: radial-gradient(#26526F, #0F222F) no-repeat;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    max-width: 100vw;
    overscroll-behavior: none;

    &.scroll-lock {
        overflow: hidden !important;
    }
}

.container {
  width: 100%;
  padding: 50px 20px 70px;
  
  @media (min-width: $screen-l-min) {
    margin: 0 auto;
    padding: 100px 0;
    width: 90vw;
  }
  @media (min-width: $screen-xxl-min) {
    width: 70vw !important;
  }
}

.blur-bg {
  background-color: rgba($color: #000000, $alpha: .6);
}